{% extends "admin/base.html" %}
{% load i18n %}
 
{% block title %}{{ title }} | {% trans 'Airtel Customer Self Care' %}{% endblock %}
 
{% block extrastyle %}
<style>
#header { background: rgb(237,28,36); border-bottom: solid 3px #999; }
#branding h1 { color: #fff; }
.module h2, .module caption, .inline-group h2 { background: #ccc; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
{% endblock %}
 
{% block branding %}
<h1 id="site-name" > {% trans 'Airtel Customer Self Care - Change Password' %}</h1>
{% endblock %}

{% block content %}
<form action="." method="post">
{% csrf_token %}
<div>
	{{ form.as_p }}
</div>
<div>
	<input type=submit value="Change Password"/>
</div>
</form>
<br/>
<p><a href="/3g/" title="Go back to 3G page">Go back to 3G page</a></p>
{% endblock %}