{% block primary %}
<div class="historyheader">
    Data for Subscriber Number: {{ subscriber }} | <a href="/export_history/{{ subscriber }}">Export Data</a>
</div>
<div class="listholder">
    {% if results|length %}
        <table width="100%">
	    <tr>
                <td class="head"><b>Package Name</b></td>
                <td class="head"><b>Price</b></td>
                <td class="head"><b>Subscription Date/Time</b></td>
            </tr>
            {% for row in results %}
            <tr>
                <td class="{% cycle 'odd' 'even' %}">{{ row.packagename }}</td>
                <td class="{% cycle 'odd' 'even' %}">{{ row.price }}</td>
                <td class="{% cycle 'odd' 'even' %}">{{ row.createddatetime }}</td>
            </tr>
	    {% endfor %}
	</table>
	{% else %}
	    <div class="note">No records found.</div>
	{% endif %}
<div> 
{% endblock %}
